@using QLApp.Core.Entities
@using QLApp.Core.Entities.Constant
@using QLApp.UILibrary.Helper

@{
    Layout = "_Layout";

}
<link href="~/css/view/dictionary/loaimonan.css" rel="stylesheet" />


<div class="top-content" id="tbMoman">
    <div class="header__search__bar bl">
        <div class="header__search__bar__icon">
            <i class="ti-filter"></i>
        </div>
        <div class="header__search__bar__input">
            <input type="text" placeholder="Điều kiện lọc">
        </div>

        <div class="header__search__bar__modal">

        </div>

    </div>
    <div class="header__search__bar search">
        <div class="header__search__bar__icon">
            <i class="fas fa-search"></i>
        </div>
        <div class="header__search__bar__input search">
            <input id="txt_search" type="text" placeholder="Tìm kiếm">
        </div>

        <div class="header__search__bar__modal">

        </div>

    </div>
    <div class="container-button">

        <div class="btn-right">
            <button class="btn btn_add" id="btn_add">Add</button>
        </div>
        <div class="btn-left">
            <button class="btn btn_search">Tìm kiếm</button>
        </div>
    </div>
</div>
<div class="container_type_dish">
    <div class="container_list_product_type-dish">
        <div class="item_product_type-dish">
            <div class="img_type-dish">
                <img src="~/saveimage/2a864f79-7e4d-49a9-b9a6-5e555f75e2b6.jpg" alt="Alternate Text" />
            </div>
            <div class="name_type_dish">
                <p>Cá chiên</p>
            </div>
            <div class="box_delete-type_dish">

            </div>
        </div>
    </div>

   

</div>

<script src="~/js/view/dictionnary/loaimonan.js"></script>