@using QLApp.Core.Entities
@using QLApp.Core.Entities.Constant
@using QLApp.UILibrary.Helper

@{
    Layout = "_Layout";
}
<link href="~/css/view/dictionary/nguoidung.css" rel="stylesheet" />
<div class="top-content">
    <div class="header__search__bar bl">
        <div class="header__search__bar__icon">
            <i class="ti-filter"></i>
        </div>
        <div class="header__search__bar__input">
            <input type="text" placeholder="Điều kiện lọc">
        </div>

        <div class="header__search__bar__modal">

        </div>

    </div>
    <div class="header__search__bar search">
        <div class="header__search__bar__icon">
            <i class="fas fa-search"></i>
        </div>
        <div class="header__search__bar__input">
            <input type="text" placeholder="Tìm kiếm">
        </div>

        <div class="header__search__bar__modal">

        </div>

    </div>
    <div class="container-button">
        <div class="btn-left">
            <button class="btn btn_delete" disabled>Delete</button>
        </div>
        <div class="btn-right">
            <button class="btn btn_add" id="btn_add">Add</button>
        </div>
    </div>
</div>


<div class="container-table">
    <table id="table_id"
           class="display"
           data-url="@Url.AppAction(MicroService.Core,"LoadNguoiDung","Dictionary")"
           data-pagination="true"
           data-scrollTo="true"
           data-load-dictionary="true"
           data-side-pagination="server">
        <thead>
            <tr data-field="id" data-id="id">
                <th class="text-center ck_All"
                    data-checkbox="true"
                    data-field="">
                </th>
                <th class="stt"
                    data-field="stt">STT </th>
                <th class="img-nd"
                    data-field="anhdaidien"
                    data-formatter="nd.onFormatIng">Hình ảnh</th>
                <th class="fullname-nd"
                    data-field="tendaydu">Họ và tên</th>
                <th class="ngaysinh-nd"
                    data-field="ngaysinh" data-align="center">Ngày sinh</th>
                <th class="email-nd"
                    data-field="email">Email</th>
                <th class="gioitinh-nd"
                    data-field="gioitinh">Giới tính</th>
                <th class="sdt-nd"
                    data-field="sdt">Số điện thoại</th>
                <th class="btn_sua" data-formatter="nd.onFormatUpdate" data-align="center"> </th>
                <th class="btn_xoa" data-formatter="nd.onFormatDelete">  </th>
            </tr>
        </thead>

    </table>
</div>

<div class="container-phantrang">
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="pagination">
        </ul>
    </nav>

</div>
<div id="dialog-form" title="Người dùng">
    <form class="form" id="form-1" action="" method="POST">

        <div class="page-content">
            <div class="page_row page_row-1">
                <div class="box box_name">
                    <div class="box_left">
                        <label for="name">Họ và tên:</label>
                    </div>
                    <div class="box_right form-group">
                        <input type="text" name="fullname_nd" id="fullname_nd" class="text ui-widget-content ui-corner-all form-control">
                        <span class="form-message"></span>
                    </div>
                </div>
                <div class="box box_hinhanh_nd">
                    <div class="box_left">

                        <label for="name">Hình ảnh:</label>

                    </div>
                    <div class="box_right form-group">
                        <input type="file" name="" id="hinhanh_nd" class="form-control text ui-widget-content ui-corner-all ">
                        <span class="form-message"></span>
                    </div>
                </div>

                <div class="box box_ht">
                    <div class="box_left">
                        <label>Ngày sinh:</label>
                    </div>
                    <div class="box_right">
                        <input type="date" id="ngaysinh" name="date">
                    </div>
                </div>

                <div class="box box_email">
                    <div class="box_left">
                        <label for="password">Email:</label>

                    </div>
                    <div class="box_right form-group">
                        <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all form-control">
                        <span class="form-message"></span>
                    </div>
                </div>
                <div class="box box_ht">
                    <div class="box_left">
                        <label for="password">Giới tính:</label>

                    </div>
                    <div class="box_right box_gt">
                        <div class="gt gt_nam">
                            <input type="radio" id="rdonam" name="nam" value="nam">
                            <label>Nam</label>
                        </div>
                        <div class="gt gt_nu">
                            <input type="radio" id="rdonu" name="nam" value="nam">
                            <label>Nữ</label>
                        </div>

                    </div>
                </div>
                <div class="box box_sdt">
                    <div class="box_left">
                        <label for="name">Số điện thoại:</label>
                    </div>
                    <div class="box_right form-group">
                        <input type="text" name="sdt" id="sdt" class="text ui-widget-content ui-corner-all form-control">
                        <span class="form-message"></span>
                    </div>
                </div>

            </div>

        </div>
        <div class="page-footer">
            <div class="footer-content" style="display:flex">
                <div class="left-footer btn_left">
                    <button type="button" id="btn_close" class="btn">Đóng</button>
                </div>
                <div class="right-footer">
                    <button type="button" class="btn" id="btn_luu">Lưu</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/js/view/dictionnary/nguoidung.js"></script>