@{
    Layout = "_Layout";
}
<link href="~/css/view/dictionary/TrangChuInfo.css" rel="stylesheet" />
<div class="content">
    <div class="header-sanpham">
        <div class="hone-header-info">

            <div class="left-header-info">
                <p>0</p>
            </div>
            <div class="right-header-info">
                <div class="icon-right-info">
                    <i></i>
                </div>
                <div class="container-evaluate-info">
                    <p>0</p>
                    <p>đánh giá</p>
                </div>
            </div>
        </div>

    </div>

    <div class="ap">
        <div class="cps-container">
            <div class="box-detail-product">
                <div class="hone-content-info">
                    <div class="home-content_left">
                        <div class="swiper-lazy swiper-lazy-loaded">
                            <div class="swiper-lazy__top__next__btn">
                                <i class="fas fa-angle-right"></i>
                            </div>
                            <div class="swiper-lazy__top__prev__btn">
                                <i class="fas fa-angle-left"></i>
                            </div>
                            <!-- PC -->


                            <div class="swiper-lazyr__top__wrapper">

                            </div>



                        </div>
                        <div class="swiper-container">
                            <div class="swiper-lazyr__bottom__wrapper">
                                <div class="item_swiper-wrapperss">
                                    <img src="~/images/star.png" alt="Alternate Text" />
                                    <p>Tính năng nổi bật</p>
                                </div>
                                <ul class="list_swiper_bottom_wrapper">
                                    

                                </ul>
                            </div>

                        </div>

                    </div>
                    <div class="home-content_center">
                        <div class="detail-product__box-center">
                            <div class="box-info_Price">

                            </div>
                            <div class="box-linked">
                                <div class="list-linked">


                                </div>

                            </div>
                            <div class="product-options">
                                
                                    <div class="box-product-option">

                                        <div class="box-title">
                                            <p>Chọn màu để xem giá và chi nhánh có hàng</p>
                                        </div>
                                        <div class="box-content">
                                            <ul class="configurable_swatch_color">
                                                <li class="item-color wide-swatch swatch">
                                                    <div class="img_phones">

                                                        <img src="~/images/Phone/Apple/2.jpg" alt="Alternate Text" />
                                                    </div>
                                                    <a href="#">
                                                        <strong>aa</strong>
                                                        <p>aa</p>
                                                    </a>

                                                </li>



                                            </ul>
                                        </div>
                                        <div class="box-action-button">
                                            <div class="action-button_top">
                                                <button class="action-button button-red btn-buyingy" id="action-button button-red btn-buyingy">Mua ngay</button>
                                            </div>
                                            <div class="action-button_bottom">
                                                <div class="btn_bottom_left">
                                                    <button class="action-button button-red btn-installment" id="action-button button-red btn-installment">
                                                        <p>Trả góp</p>
                                                        <p>(Xét duyệt qua điện thoại)</p>
                                                    </button>
                                                </div>
                                                <div class="btn_bottom_right">
                                                    <button class="action-button button-red btn-installment_phone" id="action-button button-red btn-installment_phone">
                                                        <p>Trả góp qua thẻ</p>
                                                        <p>(Visa, Master Card. JCB)</p>

                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="box-promotion-more">
                                            <div class="box-title">
                                                <p>Ưu đãi thêm</p>
                                            </div>
                                            <div class="box-content">
                                                <ul>
                                                    <li class="item-promotion"> <a href="#">-Giảm thêm tới 1% cho thành viên Smember (áp dụng tùy sản phẩm)</a></li>
                                                    <li class="item-promotion"><a href="#">-Nhập QRCPS giảm đến 300.000đ áp dụng các đơn hàng từ 4 triệu trở lên khi thanh toán qua VNPAY tại cửa hàng</a></li>
                                                    <li class="item-promotion"><a href="#"> -Nhập MOCACPS - Giảm thêm 5% (tối đa 400.000đ) khi thanh toán qua ví Moca cho đơn hàng từ 500.000đ</a></li>
                                                    <li class="item-promotion"><a href="#">-Giảm thêm 500.000đ khi thanh toán qua thẻ tín dụng VP Bank cho đơn hàng từ 10 triệu</a></li>
                                                    <li class="item-promotion"><a href="#">-Thu cũ đổi mới: Giá thu cao - Thủ tục nhanh chóng - Trợ giá tốt nhất</a></li>
                                                    
                                                </ul>

                                            </div>

                                        </div>
                                    </div>
                                

                            </div>


                        </div>

                    </div>
                    <div class="home-content_right">
                        <div class="box-list-store">


                            <select id="container_choose-domain" placeholder="Select size..." style="width: 100%;">
                                <option>Miền Nam</option>
                                <option>Miền Bắc</option>

                            </select>
                            <div class="container-store">
                                <select id="lt_province_filter" placeholder="Select size..." style="width: 100%;">
                                    <option>Tỉnh/thành</option>
                                    <option>Hà Nội</option>
                                    <option>Hồ Chí Minh</option>
                                    <option>Bình Dương</option>
                                    <option>Đồng Nai</option>
                                    <option>Bến Tre</option>

                                </select>
                                <select id="lt_district_filter" placeholder="Select size..." style="width: 100%;">
                                    <option>Quận/Huyện</option>
                                    <option>Bình Chánh</option>
                                    <option>Chương Mỹ</option>
                                    <option>Quốc Oai</option>
                                    <option>Quận 1</option>
                                    <option>Quận 2</option>
                                    <option>Quận 3</option>
                                    <option>Quận 4</option>
                                    <option>Quận 5</option>
                                    <option>Quận 6</option>
                                    <option>Quận 7</option>
                                    <option>Quận 1</option>
                                    <option>Quận 1</option>
                                    <option>Phú Nhuậm</option>


                                </select>
                            </div>
                            <p>Có 50 cửa hàng có sẵn sản phẩm</p>
                            <div class="box-promotion-more">
                                <div class="box-title">
                                    <p>Thông tin sản phẩm</p>
                                </div>
                                <div class="box-content">
                                    <ul>
                                        <li class="item-promotion"> <img src="~/images/icon/icon_phones.png" alt="Alternate Text" /> <a href="#">Nguyên hộp, đầy đủ phụ kiện từ nhà sản xuất</a></li>
                                        <li class="item-promotion"> <img src="~/images/icon/icon_dg.png" alt="Alternate Text" />  <a href="#">Máy, Sách hướng dẫn, Cây lấy sim, Cáp TypeC</a></li>
                                        <li class="item-promotion"> <img src="~/images/icon/icon_bh.png" alt="Alternate Text" />  <a href="#">Bảo hành chính hãng 12 tháng, 1 ĐỔI 1 trong 30 ngày đầu</a></li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="container-detail_product">
        <div class="ctf_top">
            <div class="container-ctf">
                <div class="container-ctf-content">
                    <div class="list-nav-tabs">
                        <a href="#"><p>SẢN PHẨM TƯƠNG TỰ</p></a>
                        <a href="#"><p>THAM KHẢO THÊM HÀNG CŨ</p></a>
                    </div>
                </div>
                <div class="list-box-product">
                    <div class="list-box-product-top">
                        <div class="top_product_left">
                            <p>SẢN PHẨM TƯƠNG TỰ</p>
                        </div>
                        <div class="top_product_right">
                            <div class="Searchs-product">
                                <div class="header-icon-product">
                                    <i class="fas fa-search"></i>
                                </div>
                                <div class="header-input-product">
                                    <input type="text" placeholder="Nhập tên sản phẩm bạn muốn tìm?" name="name" value="" />
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="list-box-product-bottom">
                        <div class="container-product">


                            <div class="list-product list-product-phones">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="block-information">
                    <div class="block-information__box-left">

                    </div>
                    <div class="block-information__box-right">
                        <div class="box_title">

                        </div>
                        <div class="box_content">

                        </div>
                    </div>

                </div>

            </div>

        </div>


    </div>

</div>
<script src="~/js/view/dictionary/TrangChuInfo.js"></script>