.report-order-detail {

    .m-width-40 {
        width: 40px;
    }

    .m-width-200 {
        width: 200px;
    }

    .m-width-135 {
        width: 135px;
    }

    .m-width-80 {
        width: 80px;
    }

    .fixed-table-footer {
        .total-sum {
            text-align: right !important;
        }
    }
}
