.report-partial {
    .top-toolbar {
        display: flex;
        margin: 10px 0;

        .margin-item {
            margin-left: 20px;
        }
    }

    .page-container {
        display: flex;
        flex: 1;
        overflow: hidden;

        .left-content {
            display: flex;
            flex-direction: column;
        }

        .right-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: hidden;
            border-left: 1px solid #dee2e6;
        }

        > .grid-content {
            flex: unset;
        }

        table {
            tr {
                &.selected {
                    background-color: #daecfb;
                }
            }
        }

        .m-width-150 {
            width: 150px;
        }

        .m-width-60 {
            width: 60px;
        }

        .m-width-135 {
            width: 135px;
        }

        .m-width-200 {
            width: 200px;
        }

        .fixed-table-footer {
            .total-sum {
                text-align: right !important;
            }
        }
    }
}
