@{
    Layout = null;

}
<link href="~/css/view/dictionary/table.css" rel="stylesheet" />
<form class="page-view login-partial">
    <link href="~/css/view/login/_LoginPartial.css" rel="stylesheet" />
    <div class="login-page">
        <div class="login-container">
            <div class="login-content">
                <div class="top-login">
                    <div class="logo-phone">

                    </div>
                    <div class="name-phone">Quản lý điện thoại</div>
                </div>
                <div class="input-field input-margin">
                    <div class="text-box">
                        <input type="text" name="name" id="username" placeholder="Tài khoản" value="" />
                    </div>
                </div>
                <div class="input-field input-margin">
                    <div class="text-box user-password">


                        <input type="password" class="text-password" id="password" name="name" placeholder="Mật khẩu" value="" />

                        <div class="child-password"><i class="ti-eye"></i></div>
                    </div>
                </div>
                <div class="button-login">

                    <div class="btn-Accept">
                        <button class="btn btn-login">Đăng nhập</button>
                    </div>
                    <div class="bottom-login">
                        <div class="login-lefts"><a class="registration-user" href="#">Đăng kí</a></div>
                        <div class="login-rights"><a class="familiar-user" href="#">Quên mật khẩu</a></div>
                    </div>

                </div>


            </div>

        </div>


    </div>


</form>
<script src="~/js/view/login/_LoginPartial.js"></script>