@{

    Layout = null;
}
<link href="~/css/view/dictionary/FooterLayout.css" rel="stylesheet" />
<div class="container-footer">
    <div class="footer-content">
        <div>


            <div class="footer_content-left"">
                <div class="information-title">
                    <p>Tìm cửa hàng</p>
                    <ul class="list-infomation">
                        <li>
                            <a href="#">
                                <p>Tìm cửa hàng gần nhất</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Mua hàng từ xa</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Gặp trực tiếp cửa hàng gần nhất (Zalo hoặc gọi điện)</p>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="information-payments">
                    @*<ul class="payments-top">
                        <li><a href="#"><img src="./images/Payments/1.png"></a></li>


                        <li><a href="#"><img src="./images/Payments/2.png"></a></li>

                        <li><a href="#"><img src="./images/Payments/3.png"></a></li>


                    </ul>
                    <ul class="payments-bottom">
                        <li><a href="#"><img src="./images/Payments/4.png"></a></li>

                        <li><a href="#"><img src="./images/Payments/5.png"></a></li>

                        <li><a href="#"><img src="./images/Payments/6.png"></a></li>
                    </ul>*@
                </div>
               
            </div>
        </div>
    </div>

</div>