

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Phần mềm giới thiệu món ăn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>




    <link href="~/lib/themify-icons/themify-icons.css" rel="stylesheet" />

    <link href="~/lib/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet" />
</head>
<body>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui-1.13.1/jquery-ui.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/ajax.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link href="~/css/control/toastr.css" rel="stylesheet" />
    <script src="~/js/common/toastr.js"></script>
    <link href="~/css/view/dictionary/SideBarLayout.css" rel="stylesheet" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/css/view/dictionary/SideBarLayout.css" rel="stylesheet" />
    <link href="~/css/view/dictionary/table.css" rel="stylesheet" />



    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-grid-alt'></i>

            <span class="logo_name">QLGT món ăn</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/Dictionary/TrangChu">
                    <i class='ti-home'></i>
                    <span class="link_name">Trang chủ</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/Dictionary/TrangChu">Trang chủ</a></li>
                </ul>
            </li>

            <li>
                <a href="/Dictionary/monan">
                    <i class='ti-calendar'></i>
                    <span class="link_name">Món ăn</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/Dictionary/monan">Món ăn</a></li>
                </ul>
            </li>
            <li>
                
                <a href="#">
                    <i class='far fa-user-circle'></i>
                    <span class="link_name">People</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">People</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='ti-user'></i>
                    <span class="link_name">Tài khoản</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Tài khoản</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='ti-alert'></i>
                    <span class="link_name">Báo lỗi</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Báo lỗi</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='ti-comment-alt'></i>
                    <span class="link_name">Câu hỏi</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Câu hỏi</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='ti-help-alt'></i>
                    <span class="link_name">Trợ giúp</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Trợ giúp</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Setting</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Setting</a></li>
                </ul>
            </li>
            <!--<li>
    <div class="profile-details">
        <div class="profile-content">-->
            <!--<img src="image/profile.jpg" alt="profileImg">-->
            <!--<img src="image/profile.jpg" alt="profileImg">-->
            <!--<img src="image/profile.jpg" alt="profileImg">-->
            <!--</div>
            <div class="name-job">
                <div class="profile_name">Đăng xuất</div>

            </div>
            <i class='bx bx-log-out'></i>
        </div>
    </li>-->
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' title="Menu"></i>
            <div class="right-header">
                <div class="top-item header-setting">
                    <button><i class="ti-settings" title="Cài đặt"></i></button>
                </div>
                <div class="top-item header-help">
                    <button><i class="ti-info-alt" title="Trợ giúp"></i></button>
                </div>
                <div class="top-item header-notification">
                    <button><i class="ti-bell" title="Thông báo"></i></button>
                </div>
                <div class="sepetator"></div>
                <div class="top-item header-user">

                    <div class="user user-name">Nguyễn Nghĩa Ninh</div>
                    <div class="user user-icon"><i class="far fa-user-circle"></i></div>
                    <div class="user user-icon-dropdow"><i class="ti-arrow-circle-down"></i></div>
                    <div class="user-info">
                        <div class="top-user-info">
                            <div class="left-info"><i class="far fa-user-circle"></i></div>
                            <div class="right-info">
                                <div class="name-info">Nguyễn Nghĩa Ninh</div>
                                <div class="information-user"><a href="#">Thông tin tin khoản</a></div>
                            </div>
                        </div>
                        <div class="title-user">Chức vụ</div>
                        <div class="information-title-user">
                            <div class="icon-information"><i class="ti-user"></i></div>
                            <div class="name-information">Admin</div>
                        </div>
                        <div class="logout-content">
                            <button>Đăng xuất</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-content">
            @RenderBody()
        </div>


    </section>
    <script src="~/js/Shared/SideBarLayout.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
