<link href="~/css/view/dictionary/MenuLayout.css" rel="stylesheet" />
<div class="slidebar">
    <ul class="slidebar__list list-1">
        
    </ul>
</div>
<script src="~/js/Shared/MenuLayout.js"></script>